body {
  background-image: url(/assets/global/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
body {
    background-image: url(/assets/global/img/bg.jpg);
}
}

.full-height {
    height: 94.2vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.navbar {
    width: 100%;
    background-color: rgba(22, 10, 10, 0.03);
    height: 40px;
    z-index: 9999;
}

.inner {
    position: relative;
    text-align: center;
}
.r-right {
    position: absolute;
    right: 10px;
}
.r-footext {
    color: #fff;
    padding: 7px;
}
.navbar a {
    display: inline-block;
    border: 1px solid #fff;
    font-size: 14px;
    line-height: 24px;
    border-radius: 3px;
    padding: 2px 15px;
    text-decoration: none;
    margin-top: 5px;
    color: #ffff00;
    font-weight: 800;
    transition: all 0.3s ease 0s;
    background: rgba(190, 143, 20, 0.27)
}
.navbar a:hover {
    color: #ff8d08;
    background: rgba(190, 143, 20, 0.27)
}
label{
    color:#999;  
    padding-top: 5px; 
    display:block; 
    left:0;
}

.panel{
    border-width:2px; 
    border-radius:7px;
    width: 50%;
    opacity: 0.8;
    position: relative;
    margin: 0 auto;
    Margin-top: 30px;
    Margin-bottom: 80px;
    text-align: center;
    }
.panel-utama > .panel-kepala{
    background-color: #9d6617;
    border-color: #9d6617;
}
.table-bordered > thead > tr > th{
    color: #f6003d;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td{
    border:2px solid #eee; 
    vertical-align: middle;
    text-align: center;
}
.table-bordered{
    border-radius:7px;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    width: 45%;
    display: inline-block;
    padding: 6px 10px;
    opacity: 0.9;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    /*Margin-top: 250px;*/
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}

.footer {
       position:fixed;
       padding: 0 10px 0 10px;                 
       left: 0px;
       bottom: 0px;
       width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
}

.inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

